<div class="col-8 offset-2">
  <div class="row">
    <div class="col-6 login-form-1">
      <h1>Ususarios</h1>
      <form>
        <div class="mb-3 form-grup">
          <input type="text" class="form-control" placeholder="Your email" value="" />
        </div>
        <div class="mb-3 form-grup">
          <input type="password" class="form-control" placeholder="Your Passsword" value="" />
        </div>
        <div class="form-grup m-4">
          <button class="btn btn-danger" [routerLink]="['/productos-usuarios']">Entrar</button>
        </div>
        <div class="form-grup">
          <a></a>
        </div>
      </form>
    </div>

  </div>

</div>

